// --------------------
// Definition of variables
$primary: #32c3ff;


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

li {
  list-style: none;
  text-decoration: none;
  color: black;
}

Link {
  text-decoration: none;
}
// --------------------
// Style for App component
.App {
  text-align: center;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: $primary;
    padding: 20px;
    color: white;
    height: 55px;


    a {
      color: white;
      padding: 0 5px;
      text-decoration: none;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
    float: left;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

// --------------------
// Style for Home component
.Home {
 
  p {
    font-size: 1.2em;
  }
}
.HomePutas {
  padding-left: 40%;
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

.logo {
  width: 50px;
 
}

.hlogo{
  width: 70px;
  float: left;
}

.Sign {
  float: right;
  margin-top: 12.5px;
}

.Sign a {
  font-size: 27px;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.form-align {
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
}

.form-align input {
  float: right;
}

.inline-form {
  // display: inline;
  margin-bottom: 10px;
}

@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;
  
  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;
    
    #{$vertical}: 0; 
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');
    
    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }
  
  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');
    
    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }
  
  &:hover {
    color: $hover;
    
    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }
    
    &::before { transition-delay: 0s, 0s, $duration; }
    
    &::after { transition-delay: 0s, $duration, 0s; }
  }
}

.draw-border {
  @include btn-border-drawing(#58afd1, #ffe593, 4px, bottom, right);
}

//=== Button styling, semi-ignore
.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  
  &:focus { outline: 2px dotted #55d7dc; }
}

.shirt {
  width: 7vw;
} 

.tdetails {
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  border: rgba(24, 24, 24, 0.801);
  border-radius: 0px;
  margin: 10px;
  width: 229px;
  padding-left: 5px;
  padding-bottom: 13px;
  padding-right: 12px;
  padding-top: 21px;
}


.tdetails {
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  border: rgba(24, 24, 24, 0.801);
  border-radius: 0px;
  margin: 10px;
  width: 229px;
  padding-left: 5px;
  padding-bottom: 13px;
  padding-right: 12px;
  padding-top: 21px;
  }

.scores {
  display: inline-flex;
}

.matches {
  display: inline;
  // justify-content: space-between;
  // width: 20vw;
}

.matches ul{
  display: flex;
  width: 70vw;
  justify-content: space-between;
  margin-left: 10vw;
}

.matches ul li {
  width: 8vw;
  height: 3vw;
  padding-bottom: 3vh;
  text-underline-position: unset;
}

.tshirt {
  width: 18vw;
} 

.tshirt2 {
  width: 2vw;
} 

.all-matches {
  display: flex;
  flex-wrap: wrap;
 
 
}

.player-list {
  margin-bottom: 150px;
}

// .lbox {

// }

.score-box {
  border: 0.1px solid grey;
  border-radius: 0px;
  background: #bbd0e2;
  // width: 17vw;
}

.read a {
  text-decoration: none;
  color: black;
}

.read a:hover {
  color: red;
  transition: .5s;
}

.hrsty {
  background-color: white;
   border-top: 1px;
}

.hrsty2 {
  width: 50%;
}

.maatches {
  color: #81afd8;
    font-size: 15.5px;
    font-weight: lighter;
   
}
.linksd {
  text-decoration: unset;
}